<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | Host Event</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Host and create events online from Conferences, Hackathons, Conventions, Exhibitions, Seminars, Festivals, Trade Fair, etc."
		/>
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, CSS, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />
		<link
			href="/css/host-event.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>
	</head>

	<body>
		<!-- Header -->
		<header class="header">
			<nav class="navbar" data-sticky="top">
				<a class="navbar__brand" href="/"> Eventrite </a>
				<div class="navbar__content">
					<!-- user nav toggle -->
					<button class="navbar__toggler" type="button">
						<!-- user image -->
						<img
							src="/<%= currentUser.image %>"
							alt="user image"
							class="avatar avatar-sm"
						/>
						<!-- Username -->
						<span class="username"><%= currentUser.username %></span>
						<!-- Arrow down caret -->
						<img
							class="icon"
							src="/assets/icons/caret-down.svg"
							alt="arrow-caret"
						/>
					</button>
					<!-- Nav Items -->
					<div class="navbar__main hidden">
						<a href="/dashboard" class="user-actions__link">
							<i class="fa fa-user mr-2" aria-hidden="true"></i>
							Profile
						</a>
						<a href="/users/logout" class="user-actions__link">
							<i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
							log Out
						</a>
					</div>
				</div>
			</nav>
		</header>
		<!-- Event Form Container  -->
		<section class="form__container">
			<h2 class="form__heading">ADD EVENT</h2>
			<!-- Event Form -->
			<form
				class="form mt-2"
				action="/events"
				method="POST"
				enctype="multipart/form-data"
			>
				<!-- Form Inputs Container -->
				<div class="form__input--container mt-0 grid">
					<input
						type="text"
						class="form__input"
						id="name"
						name="name"
						placeholder="Event Name"
						required
					/>
					<input
						type="number"
						id="spot"
						class="form__input"
						name="spot"
						placeholder="Numbers of spot"
						required
					/>
					<input
						type="text"
						id="location"
						class="form__input"
						name="location"
						placeholder="Enter a location"
						required
					/>
					<select
						required
						name="category"
						title="select event category"
						class="form__input"
						id="category"
					>
						<option selected disabled>Select Category</option>
						<option value="speaker session">Speaker Session</option>
						<option value="networking session">Networking Session</option>
						<option value="conference">Conference</option>
						<option value="Seminar">Seminar</option>
						<option value="workshop">Workshop</option>
						<option value="sponsorship">Sponsorship</option>
						<option value="trade show">Trade Show</option>
						<option value="award and competition">Award and Competition</option>
						<option value="festival or party">Festival or Party</option>
						<option value="webinars">Webinars</option>
						<option value="product launch">Product Launch</option>
						<option value="corporate meeting">Corporate Meeting</option>
					</select>
					<textarea
						required
						name="description"
						id="description"
						class="form__input"
						title="enter event details"
						placeholder="Description"
					></textarea>
					<input
						required
						type="date"
						name="date"
						title="enter date"
						class="form__input"
						id="date"
					/>
					<input
						required
						type="time"
						name="start"
						title="enter start time"
						class="form__input"
						id="start"
					/>
					<input
						required
						type="time"
						name="end"
						title="enter end time"
						id="end"
						class="form__input"
					/>
					<input
						type="numeric"
						id="price"
						class="form__input"
						name="price"
						placeholder="Price($)"
						required
					/>
					<label for="image" class="file-upload form__input">
						<input
							type="file"
							accept="image/png, image/jpg, image/gif, image/jpeg"
							id="image"
							class="file"
							name="image"
							placeholder="Avatar"
							value="<%= typeof image != 'undefined' ? image : '' %>"
						/>
						<small class="text-danger mt-2">
							<i class="fa fa-upload fa-lg mr-1" aria-hidden="true"></i>
							Upload Image
						</small>
					</label>
				</div>
				<!-- Form Action Buttons -->
				<div class="form__btn--container">
					<button class="cancel btn form__btn">
						<a href="/dashboard">Cancel</a>
					</button>

					<button class="button btn__primary form__btn" type="submit">
						Add Event
					</button>
				</div>
			</form>
		</section>
		<!-- Footer -->
		<footer class="footer" id="footer">
			<div class="footer__container">
				<article class="footer__section">
					<h4 class="footer__section--heading">how to use</h4>
					<a href="#" class="footer__section--link">how it works</a>
					<a href="#" class="footer__section--link">pricing</a>
					<a href="#" class="footer__section--link">FAQs</a>
					<a href="#" class="footer__section--link">event registration</a>
				</article>
				<article class="footer__section">
					<h4 class="footer__section--heading">plan events</h4>
					<a href="#" class="footer__section--link">sell tickets online</a>
					<a href="#" class="footer__section--link">online RSVP</a>
					<a href="#" class="footer__section--link">event planning</a>
					<a href="#" class="footer__section--link">event payment system</a>
					<a href="#" class="footer__section--link"
						>non profits & Fundraisers evenst</a
					>
				</article>
				<article class="footer__section">
					<h4 class="footer__section--heading">find events</h4>
					<a href="#" class="footer__section--link">virtual events</a>
					<a href="#" class="footer__section--link">online webinars</a>
					<a href="#" class="footer__section--link">virtual conferences</a>
					<a href="#" class="footer__section--link">seminars</a>
				</article>
				<article class="footer__section footer__social">
					<h4 class="footer__section--heading">connect with us</h4>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/instagram.svg"
							alt="instagram"
						/>
						<span class="footer__social--text">instagram</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/twitter.svg"
							alt="twitter"
						/>
						<span class="footer__social--text">twitter</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/youtube.svg"
							alt="youtube"
						/>
						<span class="footer__social--text">youtube</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/medium.svg"
							alt="medium"
						/>
						<span class="footer__social--text">medium</span>
					</a>
					<a href="#" class="footer__section--link">
						<img
							class="footer__icon icon"
							src="/assets/icons/facebook.svg"
							alt="facebook"
						/>
						<span class="footer__social--text">facebook</span>
					</a>
				</article>
			</div>
			<a href="#" class="btn back-to-top" title="Back To Top">
				<img
					class="icon"
					src="/assets/icons/arrow-up-solid.svg"
					alt="back to top"
				/>
			</a>
		</footer>
		<!-- JS -->
		<!-- Removes page load animation when window is finished loading -->
		<script type="text/javascript">
			window.addEventListener('load', function () {
				document.querySelector('body').classList.add('loaded');
			});

			// Navigation Toggle
			document
				.querySelector('.navbar__toggler')
				.addEventListener('click', (e) => {
					document.querySelector('.navbar__main').classList.toggle('hidden');
				});
		</script>
	</body>
</html>
