<footer class="footer" id="footer">
	<div class="footer__container">
		<article class="footer__section">
			<h4 class="footer__section--heading">how to use</h4>
			<a href="#" class="footer__section--link">how it works</a>
			<a href="#" class="footer__section--link">pricing</a>
			<a href="#" class="footer__section--link">FAQs</a>
			<a href="#" class="footer__section--link">event registration</a>
		</article>
		<article class="footer__section">
			<h4 class="footer__section--heading">plan events</h4>
			<a href="#" class="footer__section--link">sell tickets online</a>
			<a href="#" class="footer__section--link">online RSVP</a>
			<a href="#" class="footer__section--link">event planning</a>
			<a href="#" class="footer__section--link">event payment system</a>
			<a href="#" class="footer__section--link"
				>non profits & Fundraisers evenst</a
			>
		</article>
		<article class="footer__section">
			<h4 class="footer__section--heading">find events</h4>
			<a href="#" class="footer__section--link">virtual events</a>
			<a href="#" class="footer__section--link">online webinars</a>
			<a href="#" class="footer__section--link">virtual conferences</a>
			<a href="#" class="footer__section--link">seminars</a>
		</article>
		<article class="footer__section footer__social">
			<h4 class="footer__section--heading">connect with us</h4>
			<a href="#" class="footer__section--link">
				<img
					class="footer__icon icon"
					src="/assets/icons/instagram.svg"
					alt="instagram"
				/>
				<span class="footer__social--text">instagram</span>
			</a>
			<a href="#" class="footer__section--link">
				<img
					class="footer__icon icon"
					src="/assets/icons/twitter.svg"
					alt="twitter"
				/>
				<span class="footer__social--text">twitter</span>
			</a>
			<a href="#" class="footer__section--link">
				<img
					class="footer__icon icon"
					src="/assets/icons/youtube.svg"
					alt="youtube"
				/>
				<span class="footer__social--text">youtube</span>
			</a>
			<a href="#" class="footer__section--link">
				<img
					class="footer__icon icon"
					src="/assets/icons/medium.svg"
					alt="medium"
				/>
				<span class="footer__social--text">medium</span>
			</a>
			<a href="#" class="footer__section--link">
				<img
					class="footer__icon icon"
					src="/assets/icons/facebook.svg"
					alt="facebook"
				/>
				<span class="footer__social--text">facebook</span>
			</a>
		</article>
	</div>
	<a href="#" class="btn back-to-top" title="Back To Top">
		<img
			class="icon"
			src="/assets/icons/arrow-up-solid.svg"
			alt="back to top"
		/>
	</a>
</footer>
<!-- </body>

</html> -->
