<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Host and create events online from Conferences, Hackathons, Conventions, Exhibitions, Seminars, Festivals, Trade Fair, etc."
		/>
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, BOOTSTRAP, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="fontawesome/css/solid.css" />
		<link rel="stylesheet" href="fontawesome/css/brands.css" />
		<link rel="stylesheet" href="css/home.css" />
		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>
		<link
			href="assets/css/loaders/loader-typing.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<link
			href="assets/css/theme-event.css"
			rel="stylesheet"
			type="text/css"
			media="all"
		/>
		<link
			rel="preload"
			as="font"
			href="assets/fonts/Inter-UI-upright.var.woff2"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			href="assets/fonts/Inter-UI.var.woff2"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="stylesheet" href="/css/footer.css" />

		<!-- global stylesheet -->
		<link rel="stylesheet" href="/css/global.css" />
	</head>

	<body>
		<header class="header navbar__container">
			<nav class="navbar">
				<a class="navbar__brand" href="index.html"> Eventrite </a>
				<div class="navbar__content">
					<button
						class="navbar__toggler"
						type="button"
						aria-label="Toggle navigation"
					>
						<img
							class="icon navbar__toggler--open"
							src="assets/img/icons/menu_button.svg"
							alt="menu"
						/>
						<img
							class="icon navbar__toggler--close hidden"
							src="assets/img/icons/close_button.svg"
							alt="close menu"
						/>
					</button>
					<div class="navbar__main hidden">
						<% if(!currentUser){ %>
						<div class="navbar-collapse">
							<a href="/users/login" class="btn btn__tertiary">Sign In</a>
						</div>
						<% } else { %>
						<div class="collapse navbar-collapse">
							<div class="dropdown ml-2 show">
								<button
									class="btn btn-danger drop-button dropdown-toggle"
									type="button"
								>
									<img
										src="/<%= currentUser.image %>"
										alt="user"
										class="avatar avatar-sm"
									/>
									<span
										><a class="text-light" href="#"
											><%= currentUser.username %></a
										></span
									>
									<img
										class="icon"
										src="assets/img/icons/interface/arrow-caret.svg"
										alt="arrow-caret"
									/>
								</button>

								<div class="dropdown-menu row">
									<div class="col-auto">
										<div class="card card-sm card-body shadow">
											<a href="/events/host-event" class="dropdown-item">
												<i class="fa fa-plus mr-2" aria-hidden="true"></i>
												Add Event
											</a>
											<a href="/dashboard" class="dropdown-item">
												<i class="fa fa-user mr-2" aria-hidden="true"></i>
												Profile
											</a>
											<a href="/users/logout" class="dropdown-item">
												<i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
												log Out
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</nav>
		</header>

		<script>
			// toggle navbar
			// TODO make this DRY and clean
			document
				.querySelector('.navbar__toggler--open')
				.addEventListener('click', (e) => {
					e.target.classList.toggle('hidden');
					document
						.querySelector('.navbar__toggler--close')
						.classList.toggle('hidden');
					document.querySelector('.navbar__main').classList.toggle('hidden');
				});

			document
				.querySelector('.navbar__toggler--close')
				.addEventListener('click', (e) => {
					e.target.classList.toggle('hidden');
					document
						.querySelector('.navbar__toggler--open')
						.classList.toggle('hidden');
					document.querySelector('.navbar__main').classList.toggle('hidden');
				});
		</script>
	</body>
</html>
