<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Host and create events online from Conferences, Hackathons, Conventions, Exhibitions, Seminars, Festivals, Trade Fair, etc."
		/>
		<meta
			name="keywords"
			content="web app, application, technology, events, conferences, JS, BOOTSTRAP, seminars, application"
		/>
		<meta name="author" content="Lambe Boluwatife" />
		<link rel="stylesheet" href="fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="fontawesome/css/solid.css" />
		<link rel="stylesheet" href="fontawesome/css/brands.css" />
		<link rel="stylesheet" href="css/home.css" />
		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>
		
		<link rel="stylesheet" href="/css/header.css" />

	</head>

	<body>
		<header class="header navbar__container">
			<nav class="navbar">
				<a class="navbar__brand" href="index.html"> Eventrite </a>
				<% if(!currentUser){ %>
				<button class="btn__primary navbar__btn">
					<a href="/users/login" class="navbar__btn--link">Sign In</a>
				</button>

				<% } else { %>

					<!-- user nav toggle -->
					<button class="navbar__toggler" type="button">
						<!-- user image -->
						<img
							src="/<%= currentUser.image %>"
							alt="user image"
							class="avatar avatar-sm"
						/>
						<!-- Username -->
						<span class="username"><%= currentUser.username %></span>
						<!-- Arrow down caret -->
						<img
							class="icon"
							src="/assets/icons/caret-down.svg"
							alt="arrow-caret"
						/>
					</button>
					<!-- Nav Items -->
					<div class="navbar__main hidden">
						<a href="/events/host-event" class="user-actions__link">
							<i class="fa fa-plus mr-2" aria-hidden="true"></i>
							Add Event
						</a>
						<a href="/dashboard" class="user-actions__link">
							<i class="fa fa-user mr-2" aria-hidden="true"></i>
							Profile
						</a>
						<a href="/users/logout" class="user-actions__link">
							<i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
							log Out
						</a>
					
				<% } %>
			</nav>
			
		</header>

		<script>
			
			// Navigation Toggle
			document.querySelector('.navbar__toggler')
				.addEventListener('click', () => {
					document.querySelector('.navbar__main')
					.classList.toggle('hidden');	
				});
		</script>
	</body>
</html>
