<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Eventrite | Login</title>
		<link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
		<link rel="stylesheet" href="/fontawesome/css/solid.css" />
		<link rel="stylesheet" href="/fontawesome/css/brands.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="shortcut icon"
			href="https://image.shutterstock.com/image-vector/letter-e-logo-icon-design-260nw-251214550.jpg"
			type="image/x-icon"
		/>

		<link rel="stylesheet" href="../css/login.css" />
	</head>

	<body>
		<section class="login header">
			<section class="login__container">
				<h3 class="navbar__brand">Eventrite</h3>
				<h1 class="login__heading">Welcome Back</h1>
				<p class="login__info">Enter your account details below</p>
				<%- include ('partials/messages') %>
				<form class="login__form" action="/users/login" method="POST">
					<input
						type="email"
						id="email"
						name="email"
						class="login__form--email"
						placeholder="Email"
					/>

					<input
						type="password"
						id="password"
						name="password"
						class="login__form--password"
						placeholder="Password"
					/>
					<!-- <small><a href="#">Forgot your password?</a> </small> -->

					<button class="btn__primary login__form--submit" type="submit">
						LOGIN
					</button>
				</form>
				<p class="login__form--signup">
					Don't have an account yet?
					<a class="text-danger" href="/users/register">Register</a>
				</p>
			</section>
		</section>
	</body>
</html>
