/* import global styles (containing general CSS settings) */
@import './global.css';
@import './footer.css';
/*  */

body {
	min-height: 100vh !important;
	padding: 0;
	margin: 0;
}

/* Header/Navbar */
.header {
	padding: var(--tiny);
	margin-bottom: var(--medium);
	border-bottom: 0.2rem solid var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar__brand {
	color: var(--primary-color);
	font-size: 2.5rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar__content {
	margin-left: auto;
}

.navbar__toggler {
	background-color: var(--primary-color);
	color: var(--white-color);
	border-radius: var(--small);
	font-size: 1.8rem;
	padding: 1rem 1.5rem;
	border: unset;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbar__toggler .avatar {
	width: 3rem;
	margin-right: 1rem;
}

.username {
	display: inline-block;
	margin-right: var(--tiny);
}

.navbar__toggler .icon {
	filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(138deg)
		brightness(96%) contrast(104%);
}

.icon {
	width: 2rem;
	aspect-ratio: 1/1;
	filter: invert(40%) sepia(31%) saturate(2813%) hue-rotate(339deg)
		brightness(99%) contrast(91%);
}

.navbar__main {
	font-size: 1.8rem;
	background-color: var(--white-color);
	box-shadow: -2px 0.6rem 1rem 0 rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	padding: var(--tiny);
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 7rem;
	z-index: 50;
}

.user-actions {
	display: flex;
	flex-direction: column;
	margin-top: var(--tiny);
}

.user-actions__link {
	color: var(--dark-grey);
	display: inline-block;
	margin-bottom: 1rem;
}

.user-actions__link i {
	display: inline-block;
	margin-right: 1rem;
}

.avatar {
	width: var(--medium);
	aspect-ratio: 1/1;
	border-radius: 50%;
}

/* Dashboard */
.dashboard {
	display: flex;
	height: 100%;
}

.dashboard__nav {
	width: 50%;
}

.dashboard__item {
	margin: var(--tiny) var(--tiny) 0 var(--tiny);
	padding-right: var(--big);
}

.dashboard__name {
	font-size: 2rem;
}

.dashboard__username {
	margin-block: 1rem;
}

/* Route Navigation */
.nav {
	border: none;
	border-bottom: 0.2rem solid red;
	background: transparent;
	outline: none;
}

.active {
	border: none;
	border-right: 0.2rem solid darkred;
	background: transparent;
	outline: none;
}

.active .fa {
	color: darkred;
}

.contents {
	font-size: large;
	cursor: pointer;
	font-weight: bolder;
	color: #000;
}

.events {
	display: none;
	position: relative;
	padding: var(--tiny);
}

.settings {
	display: none;
}

.drop-button {
	border-radius: 3rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* event card */
.event-item {
	height: 100%;
	width: 100%;
	color: #fff;
	position: relative;
}

/* background image */
.event__image {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 0;
}

/* event foreground */
.event__content {
	background-color: hsl(204, 91%, 9%, 0.9);
	position: relative;
	height: 100%;
	display: inline-block;
	padding: var(--tiny);
	z-index: 2;
}

.event__content--title,
.event__content--date {
	margin-bottom: var(--tiny);
	color: var(--primary-color);
}

.event__content--date {
	display: inline-block;
	font-size: 1.2rem;
}

.event__content--title {
	font-size: 2rem;
	text-transform: capitalize;
	margin-bottom: 1rem;
	/* Display only 1 lines of the text */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

/* event info */
.event__content--description {
	color: #fff;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1;
	display: inline-block;
	/* Display only 3 lines of the text */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.details {
	color: var(--cyan);
	margin: 0;
}

/* Edit/Delete buttons */
.button {
	padding: 0.5rem 1rem;
	font-size: 1.8rem;
	margin-top: var(--small);
}

.edit-button {
	margin-right: var(--small);
	padding-inline: var(--tiny);
	border-radius: 0.25rem;
}

/* Event modal popup */
#myModal {
	display: none;
}

#myModal:target {
	display: block;
}

#close {
	display: none;
}

/* Modal backdrop */
.modal {
	position: fixed;
	z-index: 50;
	padding-top: 10rem;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal foreground */
.modal-content {
	position: relative;
	background-color: var(--white-color);
	margin: auto;
	padding: var(--tiny);
	border-radius: 1rem;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

.modal a {
	color: inherit;
}

/* The Close Button */
.close {
	position: absolute;
	right: var(--tiny);
	margin-bottom: var(--tiny);
	color: var(--dark-grey);
	font-size: 2.8rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: var(--dark-brown);
	cursor: pointer;
}

.modal__text {
	color: var(--primary-color);
	font-size: 2rem;
	margin-block: var(--tiny);
}

.modal__buttons {
	display: flex;
	justify-content: space-around;
}

.confirm-delete {
	display: inline-block;
	padding: 1rem var(--tiny);
}

.confirm-delete:hover {
	color: var(--dark-brown);
}

.modal .btn__secondary {
	color: var(--dark-grey);
}

/* Tablets and under */
@media (max-width: 768px) {
	.dashboard__nav {
		width: 30%;
	}
}
