/* header */
.header {
	padding: var(--tiny);
	margin-bottom: var(--tiny);
	background-color: var(--white-color);
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	border-bottom: 0.2rem solid var(--primary-color);
}

.navbar__brand {
	color: var(--primary-color);
}

.events {
	padding: var(--tiny);
	margin-top: 20rem;
}

.events__categories {
	padding-inline: 2rem;
}

.events__heading {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: var(--small);
}

.events__filter--label {
	margin-bottom: var(--tiny);
	color: var(--dark-brown);
}

.category {
	color: var(--cyan);
}

.category:hover {
	color: var(--primary-color);
}

.events__empty {
	text-align: center;
	display: block;
	margin: var(--medium) auto;
}

/* 
  unsure
*/
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.events-display > .show-category ~ .show-category {
	display: none;
}

.event-item {
	height: 12.5em;
	width: 17.5em;
	background: #000;
	color: #fff;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.item-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.event-item:hover .item-image {
	opacity: 0.7;
}

.img-text h5 {
	position: absolute;
	top: 8px;
	left: 5px;
	color: #fff;
	margin-right: 10px;
}

.img-text small {
	position: absolute;
	top: 30px;
	left: 5px;
	color: #fff;
	margin-right: 10px;
	text-align: justify;
	line-height: 1;
}

.img-text span {
	position: absolute;
	bottom: 1px;
	left: 5px;
	color: #fff;
	margin-right: 10px;
}

.details {
	height: 30px;
	display: block;
}

/* Tablets and under */
@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}
