.home {
	color: var(--white-color);
	background-image: linear-gradient(
			to right,
			rgba(54, 52, 52, 0.5),
			rgba(240, 85, 55, 0.25)
		),
		url('../assets/img/event_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	padding: var(--medium) var(--small);
	position: relative;
}

.hero__date {
	font-size: 1.4rem;
	font-weight: 300;
	margin: var(--tiny) 0;
}

.hero__date::after,
.events__heading::after {
	content: '';
	display: block;
	width: var(--large);
	height: 0.2rem;
	background-color: var(--primary-color);
	margin: 0 0 var(--tiny) 0;
}

.hero__title {
	line-height: 1;
	margin-top: auto;
}

.hero__description {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: var(--small);
}

.hero .btn__primary {
	display: block;
	margin-top: auto;
}

.events__section {
	padding: var(--small) var(--tiny);
}

.events__heading {
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: var(--small);
}

.events__arrow {
	display: inline-block;
	transition: all 0.2s ease-in-out;
}

.events__link:hover .events__arrow {
	transform: translateX(1rem);
	color: var(--primary-color);
}

.events__empty {
	text-align: center;
	display: block;
	margin: var(--medium) auto;
}

/* media queries */
/* > 700px */
@media (min-width: 43.25em) {
	.home {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-image: linear-gradient(
				to right,
				rgba(54, 52, 52, 0.7),
				rgba(240, 85, 55, 0.45)
			),
			url('../assets/img/event_bg-desktop.jpg');
		min-height: 50vh;
		max-height: 75vh;
	}
	.hero {
		margin: var(--medium);
	}
}
