.home {
	color: var(--white-color);
	min-height: 100vh;
	background-image: url('../assets/img/bg-img.jpg');
	background-color: hsla(10, 92%, 50%, 0.8);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0 var(--small);
	position: relative;
}

.hero {
	margin-top: var(--large);
	margin-left: var(--big);
}

.hero__date {
	font-size: 1.4rem;
	font-weight: 300;
	margin: var(--tiny) 0;
}

.hero__date::after,
.events__heading::after {
	content: '';
	display: block;
	width: var(--large);
	height: 0.2rem;
	background-color: var(--primary-color);
	margin: 0 0 var(--tiny) 0;
}

.hero__title {
	font-size: 3rem;
	line-height: 1.2;
	margin-top: auto;
}

.hero__description {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: var(--small);
}

.hero .btn__primary {
	display: block;
	margin-top: auto;
}

.events__section {
	padding: var(--small) var(--tiny);
}

.events__heading {
	font-size: 1.6rem;
	font-weight: 300;
	margin-bottom: var(--small);
}

.events__arrow {
	display: inline-block;
	transition: all 0.2s ease-in-out;
}

.events__link:hover .events__arrow {
	transform: translateX(1rem);
	color: var(--primary-color);
}

.events__empty {
	text-align: center;
	display: block;
	margin: var(--medium) auto;
}

/* media queries */
/* < 700px */
@media (max-width: 43.25em) {
	.hero {
		margin-left: var(--tiny);
	}
}
