/* import global styles (containing general CSS settings) */
@import './global.css';
@import './footer.css';
/*  */

.header {
	padding: var(--tiny);
	margin-bottom: var(--tiny);
	border-bottom: 0.2rem solid var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar__brand {
	color: var(--primary-color);
	font-size: 2.5rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar__content {
	margin-left: auto;
}

.navbar__toggler {
	background-color: var(--primary-color);
	color: var(--white-color);
	border-radius: var(--small);
	font-size: 1.8rem;
	padding: 1rem 1.5rem;
	border: unset;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbar__toggler .avatar {
	width: 3rem;
	margin-right: 1rem;
}

.username {
	display: inline-block;
	margin-right: var(--tiny);
}

.navbar__toggler .icon {
	filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(138deg)
		brightness(96%) contrast(104%);
}

.icon {
	width: 2rem;
	aspect-ratio: 1/1;
	filter: invert(40%) sepia(31%) saturate(2813%) hue-rotate(339deg)
		brightness(99%) contrast(91%);
}

.navbar__main {
	font-size: 1.8rem;
	background-color: var(--white-color);
	box-shadow: -2px 0.6rem 1rem 0 rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	padding: var(--tiny);
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 7rem;
	z-index: 50;
}

.user-actions {
	display: flex;
	flex-direction: column;
	margin-top: var(--tiny);
}

.user-actions__link {
	color: var(--dark-grey);
	display: inline-block;
	margin-bottom: 1rem;
}

.user-actions__link i {
	display: inline-block;
	margin-right: 1rem;
}

.avatar {
	width: var(--medium);
	aspect-ratio: 1/1;
	border-radius: 50%;
}

/* previous styles */
/* unsure */

.nav {
	border: none;
	border-bottom: 2px solid red;
	background: transparent;
	outline: none;
}

.drop-button {
	border-radius: 30px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	height: 100%;
}

input,
button,
select,
textarea {
	border: solid grey 1px;
	height: 50px;
	width: 100%;
}

.cancel {
	border: solid grey 1px;
	height: 50px;
	background: transparent;
	width: 20%;
}

.cancel a {
	color: darkred;
}

.button {
	border: solid red 1px;
	background-color: red;
	color: #fff;
	width: 20%;
	float: right;
}

textarea {
	height: 150px;
}

input[type='file'] {
	display: none;
}

.file-upload {
	border: solid grey 1px;
	cursor: pointer;
	height: 50px;
	width: 100%;
}
